<h1>Your Workout</h1>
<h2><%= @workout.name%></h2>
<h2><%= @workout.completed%></h2>
<h2><%= @workout.duration%></h2>
<h2><%= @workout.user.username%></h2>
  <a href="/workouts/<%= @workout.id %>/edit">Edit</a>
     <form action="/workouts/<%= @workout.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete">
     </form>